* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, Roboto, 'Open Sans', sans-serif;
    box-sizing: border-box;
    user-select: none !important;
}

body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 3px solid white;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.link-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #6f22ff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.link:hover {
    background-color: #661fe8;
    transition: all .2s;
    transform: scale(1.01);
}

.link:hover img {
    transition: all .2s;
    transform: scale(1.1);
}

.link:hover span {
    transition: all .2s;
    transform: scale(.95);
}

.link:active {
    background-color: #591bcd;
    transform: scale(1.05);
}

.link:active img {
    transition: all .2s;
    transform: scale(1.2);
}

.link:active span {
    transition: all .2s;
    transform: scale(.9);
}

.link span {
    vertical-align: middle;
}

.icon {
    position: absolute;
    left: 15px;
    height: 20px;
    width: 20px;
    margin-right: 0;
    vertical-align: middle;
}

.arrow {
    position: absolute;
    right: 15px;
    height: 12px;
    width: 14px;
    vertical-align: middle;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: auto;
    padding-top: 30px;
}

.confetti {
    display: block;
    position: absolute;
    margin: 0 auto;
    z-index: -1;
    width: 100%;
    height: 100%;
    user-select: none;
}

@media (max-width: 600px) {
    .container {
        width: 80%;
    }

    .link {
        font-size: 16px;
        padding: 10px;
    }

    .icons {
        height: 18px;
        margin-right: 8px;
    }
}
